<div class="col-lg-9">
  <%= render "slide" %>

  <!-- title yard-->
    <div class="center">
    <h2 class="font-weight-bold"><%= @soccer_field.field_name %></h2>
  </div>
  <div class="row">
    <a href="#">
      <img class="img-fluid border border-dark rounded" src="/assets/anh05.jpg" alt="">
    </a>
  </div>
  <div class="row pt-5">
    <h5><%= t(".price") %><%= @soccer_field.price %> VND</h5>
  </div>
  <div class="row">
    <h5><%= t(".condition") %> :
      <% if @soccer_field.status == "over" %>
        <%= t(".good") %>
      <%else%>
        <%= t(".not_good") %>
      <%end%>
    </h5>
  </div>
  <div class="row pt-4">
    <p class="content-yard">
      <h4 class="font-weight-bold"><%= t(".description") %></h4>
      <h5 class="col-lg-12"><%= @soccer_field.description %></h5>
    </p>
  </div>

   <!-- Button booking -->
  <div class="row justify-content-end mb-4">
    <%= render partial: "form_search_for_order", object: @booking_used%>
  </div>

  <!-- Comment -->
  <div class="row">
    <%= render "comments/form" %>
    <div class="font-weight-bold col-md-3">
      <h3>Bình luận</h3>
    </div>
    <%= render @comments %>
  </div>
</div>
<%= javascript_pack_tag "reply.js" %>
