<% provide :title, t("title.pasword_reset") %>
<% provide :base_title, t("base.title") %>
<div class="col-6">
  <h2 class="text-center text-primary text-uppercase"><%= t "title.pasword_reset" %></h2>
  <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <%= render "shared/error_messages" %>
    <%= hidden_field_tag :email, @user.email %>

    <div class="field mt-3">
      <%= f.label :password, t("form.password_reset.new_password") %>
      <%= f.password_field :password %>
    </div>

    <div class="field mt-3">
      <%= f.label :password_confirmation, t("form.password_reset.password_confirmation") %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions mt-3">
      <%= f.submit t("form.password_reset.submit_change"), class: "btn btn-success" %>
    </div>
  <% end %>
</div>
