Nguyễn Đức Sơn
<tr class="table-<%= handle_layout order.status %>">
  <td ><%= order&.soccer_field_field_name %></td>
  <td><%= order&.soccer_field_type_field %></td>
  <td><%= order&.order_detail_booking_used %></td>
  <td>
    <% if order.pending? %>
      <%= button_tag t("order.btn_handle"), type: "button", class: "btn btn-danger", data: {toggle: "modal", target: "#model#{order.id}"} %>
    <% else %>
      <%= button_tag t("order.btn_view"), type: "button", class: "btn btn-primary", data: {toggle: "modal", target: "#model#{order.id}"} %>
    <% end %>
    <!-- Button handle order -->
    <div class="modal fade" id="model<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">order.detail_order.detail:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-left">
            <h3 class="text-center font-weight-bold">
              order.detail_booking.status:
              <%= handle_name_status order.status %>
            </h3>
            <h5>
              order.detail_order.date_order:
              <%= order&.created_at.strftime("%d/%m/%Y") %>
            </h5>
            <h5>
              order.detail_order.time_order:
              <%= order&.created_at.strftime("%k:%M") %>
            </h5>
            <h5>
              order.detail_order.field:
              <%= order&.soccer_field_field_name %>
              </h5>
            <h5>
              order.detail_order.date:
              <%= order&.order_date %>
            </h5>
            <h5>
              order.detail_order.time:
              <%= order&.order_detail_booking_used %>
            </h5>
            <h5>
              order.detail_order.cost:
              <%= order&.order_detail_current_price %> VND
            </h5>
          </div>
          <div class="modal-footer">
            <% unless order.cancel? || order.rejected? %>
              <%= button_tag "order.detail_order.btn_cancel", type: "button", class: "btn btn-danger" %>
            <% end %>
            <%= button_tag "order.detail_order.btn_exit", type: "button", class: "btn btn-secondary", data: {dismiss: "modal"} %>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
