<h1><%= t "send_email.greeting_user" %></h1>
<h2><%= t "send_email.content_cancel_admin" %></h2>
<%= render "form" %>
<p><%= t "send_email.title_booking" %></p>
<%= link_to t("send_email.link"), login_url %>
