<div class="widget-area no-padding blank bg-info">
  <div class="status-upload">
    <% if user_signed_in? %>
      <%= form_for @comment  do |f| %>
        <%= f.hidden_field :soccer_field_id, value: @soccer_field.id %>
        <%= f.text_area :content, placeholder: t("detail.chat"),required: true %>
        <%= f.submit t("detail.comment"), class: "btn btn-success green" %>
      <% end %>
    <% else %>
      <div>
        <p class="font-weight-bold center"><%= t ".name" %>:
          <%= link_to t(".click"), login_path %>
        </p>
      </div>
    <% end %>
  </div>
</div>
