<tr class="table-<%= handle_layout order.status %>">
  <td><img src="/assets/anh01.jpeg" alt="San1" class="img-booking"></td>
  <td><%= order.quantity %></td>
  <td><%= order.total_cost %></td>
  <td><%= l(order.created_at, format: :short) %></td>
  <td>
    <% if order.pending? %>
      <%= button_tag t(".btn_handle"), type: "button", class: "btn btn-danger", data: {toggle: "modal", target: "#model#{order.id}"} %>
    <% elsif order.accept?  %>
      <%= button_tag t(".btn_accepted"), type: "button", class: "btn btn-success", data: {toggle: "modal", target: "#model#{order.id}"} %>
    <% else %>
      <%= button_tag t(".btn_cancelled"), type: "button", class: "btn btn-primary", data: {toggle: "modal", target: "#model#{order.id}"} %>
    <% end %>
    <!-- Button handle order -->
    <div class="modal fade" id="model<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">
              <%= t(".order_detail") %></br>
              <%= t(".name_user_order") %><%= current_user.name %>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-left">
            <h3 class="text-center font-weight-bold">
              <%= t(".status") %>
              <%= handle_name_status order.status %>
            </h3>
            <% order.order_details.each do |order_detail| %>
              <h5>
                <%= t(".field") %>
                <%= order_detail.soccer_field.field_name %>
              </h5>
              <h5>
                <%= t(".time") %>
                <%= order_detail.booking_used %>
              </h5>
              <h5>
                <%= t(".date") %>
                <%= l(order_detail.order_date, format: :short) %>
              </h5>
              <h5>
                <%= t(".type") %>
                <%= order_detail.type_field %>
              </h5>
              <h5>
                <%= t(".price") %>
                <%= order_detail.current_price %> VND
                <p>--------------------*****--------------------</p>
              </h5>
              <h5>
                <% if order.pending? && order.quantity > 1 %>
                  <%= button_tag t(".detele_order_detail"),type: "button",
                    class: "btn btn-danger handle-delete-order-detail",
                    data: {id: "#{order_detail.id}", dismiss: "modal"} %>
                <% end %>
              </h5>
            <%end%>
          </div>
          <div class="modal-footer">
            <% if order.pending? %>
              <%= button_tag t(".btn_cancel"),type: "button", class: "btn btn-danger handle-order-user",
                data: {id: "#{order.id}", stt: "cancel", dismiss: "modal"} %>
               <%= button_tag t(".btn_exit"), type: "button", class: "btn btn-secondary", data: {dismiss: "modal"} %>
            <% elsif order.accept?%>
              <%= button_tag t(".btn_exit"), type: "button", class: "btn btn-secondary", data: {dismiss: "modal"} %>
            <% else %>
              <%= button_tag t(".btn_delete"),type: "button",class: "btn btn-danger handle-delete-order",
                data: {id: "#{order.id}", dismiss: "modal"} %>
              <%= button_tag t(".btn_exit"), type: "button", class: "btn btn-secondary", data: {dismiss: "modal"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
