<%= form_for([:admin, @soccer_field]) do |l|%>
  <%= render "shared/error_messages.html.erb", object: l.object %>
  <%= l.label :field_name, t("booking.field_name") %>
  <%= l.text_field :field_name, class: "form-control" %>

  <%= l.label :type_field, t("booking.type_field") %>
  <%= select_tag :type_field, raw("<option selected='selected'>five</option><option>seven</option><option>elevent</option>") %>

  <%= l.label :description, t("booking.address") %>
  <%= l.text_field :description, class: "form-control" %>

  <%= l.label :price, t("booking.price") %>
  <%= select_tag :price, raw("<option selected='selected'>fifty</option><option>seventy</option><option>one_hundred</option>") %>
  <%= l.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>