<%= form_for([:admin, @soccer_field]) do |l|%>
  <%= render "shared/error_messages", object: l.object %>
  <%= l.label :field_name, t("booking.field_name") %>
  <%= l.text_field :field_name, class: "form-control" %>

  <%= l.label :type_field, t("booking.type_field") %>
  <%= l.select :type_field, raw("<option selected='selected'>five</option><option>seven</option><option>elevent</option>") %>

  <%= l.label :description, t("booking.description") %>
  <%= l.text_field :description, class: "form-control" %>

  <%= l.label :price, t("booking.price") %>
  <%= l.text_field :price, class: "form-control" %>

  <%= l.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
