<% provide :title, t("detail.name") %>
<% provide :base_title, "base_title" %>
<div class="col-lg-9">
  <div class="card card-total">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to new_admin_soccer_field_path, class: "btn btn-primary" do %>
          <i class="fa fa-plus-square"></i>
        <% end %>
      </h5>
    </div>
  </div>
  <table class="table border-bodered table-manager">
    <thead>
      <tr>
        <th scope="col"><%= t "booking.soccer_field_name" %></th>
        <th scope="col"><%= t "booking.soccer_type" %></th>
        <th scope="col"><%= t "booking.description" %></th>
        <th class="text-info" scope="col"><%= t "booking.soccer_status" %></th>
        <th scope="col"><%= t "booking.soccer_price" %></th>
        <th scope="col"><%= t "booking.action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @soccer_fields %>
    </tbody>
  </table>
  <%= will_paginate @soccer_fields %>
</div>
