<% provide(:title, t("title.paswords.forgot")) %>
<div class="col-6">
  <h2 class="text-center text-primary text-uppercase"><%= t "title.paswords.forgot" %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field mt-3">
      <%= f.label :email, t("user.email") %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions mt-3">
      <%= f.submit t("submit.paswords.forgot"), class: "btn btn-success" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>

</div>
<%= render "users/shared/logo"%>
