<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.role %></td>
    <td>
      <% if user.user? %>
        <% if user.locked_at.blank? %>
          <%= button_tag "", type: "button", class: "btn btn-danger fa fa-lock banner-account",  data: {id: "#{user.id}", type: "lock"} %>
        <% else %>
          <%= button_tag "", type: "button", class: "btn btn-success fa fa-unlock banner-account", data: {id: "#{user.id}", type: "unlock"} %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
