<% provide :title, t("menu_manager.booking_field") %>
<% provide :base_title, t("base.title") %>
<div class="col-lg-9">
  <div>
    <%= search_form_for @u, url: admin_users_path, class: "form-group d-flex mb-2 form-search-user float-right" do |f| %>
      <%= f.search_field :user_cont, class: "form-control input-search-user mr-2", placeholder: t("base.search-user") %>
      <%= f.select(:role_eq, options_for_select(User.roles.map {|k, v| [k.humanize.capitalize, v]}, f.object.role_eq), { include_blank: t("search.role") }, {class: "form-control mr-2" }) %>
      <%= button_tag(type: "submit", class: "btn btn-dark") do %>
        <i class="fa fa-search"></i>
      <% end %>
    <% end %>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <%= t "show.name" %>
        </th>
        <th scope="col">
          <%= t "show.emali" %>
        </th>
        <th scope="col">
          <%= t "show.phone" %>
        </th>
        <th scope="col">
          <%= t "show.role" %>
        </th>
        <th scope="col">
          <%= t "booking.action" %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render "user" %>
    </tbody>
  </table>
  <!-- Title -->
  <div class="d-flex justify-content-center">
    <%= will_paginate @users %>
  </div>
  <div>
    <%= line_chart User.group(:role).group_by_week(:created_at).count,
    title: t("graphy.week") %>
    <%= line_chart User.group_by_month(:created_at).count,
    format: t("date.formats.short1"), title: t("graphy.month") %>
    <%= column_chart User.group_by_quarter(:created_at).count,
    format: t("date.formats.short1"), title: t("graphy.quarter") %>
    <%= pie_chart User.group_by_year(:created_at).count, donut: true, suffix: "%",
    title: t("graphy.year") %>
  </div>
</div>
<%= javascript_pack_tag "handle_banner", "data-turbolinks-track": "reload" %>
