<div class="col-lg-3">
  <% if logged_in? && current_user.admin? %>
    <h1 class="my-4"><%= t "admin.manager_title" %></h1>
    <div class="list-group">
      <%= link_to t("admin.manager_booking_field"), "#", class:"list-group-item" %>
      <%= link_to t("admin.manager_user"), users_path, class: "list-group-item" %>
      <%= link_to t("admin.manager_revenue"), "#", class:"list-group-item" %>
      <%= link_to t("admin.manager_field"), admin_soccer_fields_path, class:"list-group-item" %>
    </div>
  <% else %>
    <h1 class="my-4"><%= t "base.location" %></h1>
    <div class="list-group">
      <a href="#" class="list-group-item"><%= t "district.tk"%></a>
      <a href="#" class="list-group-item"><%= t "district.st"%></a>
      <a href="#" class="list-group-item"><%= t "district.nhs"%></a>
      <a href="#" class="list-group-item"><%= t "district.lc"%></a>
      <a href="#" class="list-group-item"><%= t "district.hc"%></a>
      <a href="#" class="list-group-item"><%= t "district.cl"%></a>
      <a href="#" class="list-group-item"><%= t "district.hv"%></a>
      <a href="#" class="list-group-item"><%= t "district.hs"%></a>
    </div>
  <% end %>
</div>
