<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <li class="nav-item col-md-3">
      <%= link_to t("eng"), locale: :en, class: "nav-link" %>
      <%= link_to t("vie"), locale: :vi, class: "nav-link" %>
    </li>
    <h3><%= link_to t("base.name"), home_path, class: "navbar-brand font-weight-bold" %></h3>
    <%= render "layouts/search" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
     aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to t("home.name"), home_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <div class="" id="quantity_products" data-notify="<%= size_cart %>">
            <%= link_to carts_path do %>
              <p class="text-white bg-dark btn btn-secondary" id="size_cart"><%= t ".size_cart" %> : <%= size_cart %></p>
            <% end %>
          </div>
          <div class="dropdown show">
          <%= link_to "#", {class: "btn btn-secondary dropdown-toggle", data: {toggle: "dropdown"}} do %>
            <%= t ".account" %>
            <b class="caret"></b>
          <% end %>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to t("home.profile"), current_user, class: "dropdown-item" %>
            <%= link_to t("home.setting"), edit_user_path(current_user), class: "dropdown-item" %>
            <%= link_to t("home.logout"), logout_path,method: :delete, class: "dropdown-item" %>
          </div>
        </div>
        <% else %>
          <li class="nav-item">
            <%= link_to t("home.log_in"), login_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t("home.sign_up"), signup_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
