<div class="col-lg-3">
  <% if logged_in? && current_user.admin? %>
    <h1 class="my-4"><%= t "admin.manager_title" %></h1>
    <div class="list-group">
      <%= link_to t("admin.manager_booking_field"), admin_orders_path, class:"list-group-item" %>
      <%= link_to t("admin.manager_user"), users_path, class: "list-group-item" %>
      <%= link_to t("admin.manager_revenue"), admin_revenues_path, class:"list-group-item" %>
      <%= link_to t("admin.manager_field"), admin_soccer_fields_path, class:"list-group-item" %>
    </div>
  <% else %>
    <h1 class="my-4"><%= t ".profile_order" %></h1>
    <div class="list-group">
      <%= link_to t(".list_soccer_field"), root_path, class:"list-group-item" %>
    </div>
    <div class="list-group">
      <%= link_to t(".manager_order_to_user"), user_orders_path, class:"list-group-item" %>
    </div>
  <% end %>
</div>
