<p><%= t "email.reset_password.hello" %> <%= @resource.email %>!</p>

<p><%= t "email.reset_password.content1" %></p>

<p><%= link_to t("email.reset_password.link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "email.reset_password.content2" %></p>
<p><%= t "email.reset_password.content3" %></p>
