<% provide :title, t(".title") %>
<div class="col-6">
  <h2 class="text-center text-primary text-uppercase"><%= t ".edit" %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field mt-3">
      <%= f.label :email, t(".email") %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t ".waiting_confirm" %> <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field mt-3">
      <%= f.label :name, t(".name") %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field mt-3">
      <%= f.label :phone, t(".phone") %><br />
      <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
    </div>

    <div class="field mt-3">
      <%= f.label :password, t(".password") %> <i><%= t ".dont_change" %></i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %><%= t(".minimum_pasword")%></em>
      <% end %>
    </div>

    <div class="field mt-3">
      <%= f.label :password_confirmation, t(".password_confirmation") %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field mt-3">
      <%= f.label :current_password, t(".current_password") %> <i><%= t ".need_password" %></i><br/>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions mt-3">
      <%= f.submit t(".edit"), class: "btn btn-success" %>
    </div>
  <% end %>

  <div class="back mt-3">
    <i class="fa fa-chevron-left"></i>
    <%= link_to t(".back"), :back, class: "text-dark"%>
  </div>

</div>
<%= render "users/shared/logo"%>
